{% extends 'security/base.html.twig' %}

{% block title %}Реєстрація!{% endblock %}

{% block body %}
    <div class="d-lg-flex half">
        <div class="bg order-1 order-md-2" style="background-image: url({{ asset('/css/security/images/img.png') }});"></div>
        <div class="contents order-2 order-md-1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <div class="mb-4">
                            <h3>Реєстрація</h3>
                        </div>
                        <form method="post" action="{{ path('app_user_register_post') }}">
                            <div class="form-group first">
                                <p class="mb-4">Email</p>
                                <input type="email" name="email" class="form-control" id="inputEmail" required>
                            </div>

                            <div class="form-group first">
                                <p class="mb-4">Прізвище Ім'я По батькові </p>
                                <input type="text" name="fio" class="form-control" id="inputFio" required>
                            </div>

                            <div class="form-group first">
                                <p class="mb-4">Номер телефону</p>
                                <input type="tel" name="phone" class="form-control" id="inputPhone" required>
                            </div>

                            <div class="form-group last mb-3">
                                <p class="mb-4">Пароль</p>
                                <input type="password" name="password" class="form-control" id="inputPassword" required>

                            </div>

                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >

                            <div class="d-flex mb-5 align-items-center">
                                <span class="ml-auto"><a href="#" class="forgot-pass">Уже є акаунт</a></span>
                            </div>

                            <input type="submit" value="Зареєструватися" class="btn btn-block btn-primary">

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
